<h1>Let's Find a Car</h1>
<p>Enter a VSN to begin your search</p>
<%= flash[:notice] %>
<%= form_tag(vehicles_search_path, :method => "post", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Vehicles" %>
  <%= submit_tag "Search", :name => nil %>
  <span id="countdown"></span>
<% end %>
<script type="text/javascript">
  	$(document).ready(function($) {
      	function updateCountdown() {
  		    // 12 is the required length
  		    var remainingCharacters = 12 - jQuery('#search').val().length;
  		    jQuery('#countdown').text(remainingCharacters + ' parameters needed');
  		};
  
  	    $('#search').change(updateCountdown);
  	    $('#search').keyup(updateCountdown);
  	});
</script>