<div class="page-container">
  <div class="title-container">
    <div class="query-header">
      results for query: <%= params[:search] %>
    </div>
  </div>
  <div>
    <% if @found_match == true %>
      <%= render :file => 'partials/best_match_found' %>
    <% else %>
      <%= render :file => 'partials/no_best_match_found' %>
    <% end %>
  </div>
  <br/>
  <%= link_to 'SEARCH AGAIN', root_path, :class => 'return-home' %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#expand").click(function () {
      $("#options").stop().slideToggle(2000);
      return false;
    });
  });
</script>